{{>header}}
<div class="container">
   <div class="row">
            <div class="col-3">
               <img src="data:img/png;base64,{{avatar}}" class="img-fluid" height="40%" width="40%">
            </div>
            <div class="col-9">
               {{{mensaje mensaje}}}     
            </div>
   </div>        
</div>
{{>footer}}
